body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

a {
  color: #f68b1e;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid #ffc451;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
   
    box-shadow:  0px 0px 0px 0px rgba(255,255,255,0.7);
  }
  100% {
    box-shadow:  0px 0px 15px 20px rgba(255,255,255,0);
  }
  
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
  .image-container img {
    display: block; /* Đảm bảo hình ảnh được hiển thị là một khối */
    width: 50vw !important;
    padding: 50px !important;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-section {
  width: 100%;
  height: 761px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("https://cdn.discordapp.com/attachments/909042920324202496/1222399946909679636/hero-bg.jpg?ex=661613aa&is=66039eaa&hm=8fffaad7757d268bcd64d277ba5e2a73e9340fd0a82a744cb72d0a72fee921f6&");
  background-repeat: repeat, no-repeat;
  background-position: top left, top;
}
.home-header {
  width: 100%;
  height: 65px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-text {
  font-family: "Geologica", sans-serif;
  color: #f68b1e;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.home-image {
  width: 33px;
  height: 28px;
  object-fit: cover;
}
.home-main {
  width: 100%;
  height: 726px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: flex-start;
}
.home-left {
  flex: 0 0 auto;
  width: 60vw;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: 25px;
  justify-content: flex-start;
}
.home-title-1 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 700;
}
.home-title-2 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 50px;
}
.home-title-3 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 15px;
  line-height: 130%;
  margin: 0;
}
.content-sau .home-ul {

  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 15px;
  list-style-type: disc !important;
  list-style-position: outside !important;
}

.content-sau .home-ul li {
  color: #fff;
  font-size: 15px;
}

.content-sau .home-title-4 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 130%;
}
.content-sau .home-title-5 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.home-right {
  flex: 0 0 auto;
  width: 470px;
  height: 535px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: 25px;
  justify-content: space-between;
}
.home-image1 {
  width: 285px;
  height: 362px;
  object-fit: cover;
}
.home-button {
  transition: background-color 0.5s;
  background-color: #f68b1e !important;
  color: #fff !important;
  font-family: 'Geologica';
  font-weight: 600;
  color: rgb(255, 255, 255);
  width: 300px;
  background-color: rgb(246, 139, 30);
  border-radius: 8px !important;
  border: 2px solid transparent !important;
  animation: breathing 1.2s infinite;
}

@keyframes breathing {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0px 0px 0px 25px rgba(255,255,255,0);
  }
}

.home-button:hover {
  background-color: #fff !important;
  color: #f68b1e !important;
  width: 300px;
  border-radius: 8px !important;
  border: 2px solid #f68b1e !important;
}


.home-footer {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0f0f0f;
}
.home-text18 {
  color: #f68b1e;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1.3px;
  margin-bottom: 20px !important;
}
.home-footer p {
  margin-bottom: 5px;
}
.home-footer p:nth-child(4) {
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .home-section {
    background-size: cover;
  }
}
@media (max-width: 479px) {
  .home-section {
    background-size: cover;
  }
}
